flask
python-dotenv
langchain
langchain-community
langchain-groq
langchain-huggingface
faiss-cpu
huggingface_hub
transformers
torch
pypdf
langchain_openai
langchain_core
requests
langchain_text_splitters
